@model IEnumerable<Tasks>

@{
    ViewBag.Title = "All Tasks";
}

<h1 class="my-3">All Tasks</h1>

<div class="row my-3">
    <div class="col-mid-12">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Priority)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        Assigned By
                    </th>
                    <th>
                        Assigned To
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td style="color: @(item.Priority == Priority.Low ? "Lime" : item.Priority == Priority.Medium ? "Green" : item.Priority == Priority.High ? "Orange" : item.Priority == Priority.Urgent ? "Tomato" : "Red")">
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                        <td style="color: @(item.Status == Status.Todo ? "Red" : item.Status == Status.InProgress ? "Orange" : "Green")">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssignedByUser.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssignedToUser.UserName)
                        </td>
                        <td>
                            <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="Tasks" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-controller="Tasks" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete task: @item.Title')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
